.product_category_dropdown {
    position: relative;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product_category_dropdown_button {
    width: 100%;
    padding: 8px;
    cursor: pointer;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.product_category_dropdown_container {
    position: absolute;
    border: 1px solid #ccc;
    background: white;
    width: 100%;
    margin-top: 110px;
    z-index: 100;
    padding: 5px;
}