.header {
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header_content {
    font-size: 18px;
    font-weight: bold;
}

.search_input {
    width: 400px;
    padding-left: 10px  ;
}

.filter_sort {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
}

.filters {
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.refresh_button {
    height: 30px;
    width: 30px;
    cursor: pointer;
    background-color: rgb(237, 236, 236);
    transition-duration: 200ms;
}

.refresh_button:hover {
    background-color: rgb(235, 234, 234);
}

.customer_region_dropdown {
    position: relative;
    width: 140px;
}

.customer_region_dropdown:hover {
    background-color: gray;
}

.customer_region_dropdown_button {
    width: 100%;
    padding: 8px;
    cursor: pointer;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.customer_region_dropdown_container {
    position: absolute;
    border: 1px solid #ccc;
    background: white;
    width: 100%;
    margin-top: 2px;
    z-index: 100;
    padding: 5px;
}

.gender_dropdown {
    position: relative;
    width: 120px;
}

.gender_dropdown_button {
    width: 100%;
    padding: 8px;
    cursor: pointer;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border: none
}

.gender_dropdown_container {
    position: absolute;
    border: 1px solid #ccc;
    background: white;
    width: 100%;
    margin-top: 2px;
    z-index: 100;
    padding: 5px;
}

.product_category_dropdown {
    position: relative;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product_category_dropdown_button {
    width: 100%;
    padding: 8px;
    cursor: pointer;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.product_category_dropdown_container {
    position: absolute;
    border: 1px solid #ccc;
    background: white;
    width: 100%;
    margin-top: 2px;
    z-index: 100;
    padding: 5px;
}

.tag_dropdown {
    position: relative;
    width: 100px;
}

.tag_dropdown_button {
    width: 100%;
    padding: 8px;
    cursor: pointer;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.tag_dropdown_container {
    position: absolute;
    border: 1px solid #ccc;
    background: white;
    width: 100%;
    margin-top: 2px;
    z-index: 100;
    padding: 5px;
}

.payment_method_dropdown {
    position: relative;
    width: 170px;
    height: 10px;
}

.payment_method_dropdown_button {
    width: 100%;
    padding: 8px;
    cursor: pointer;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.payment_method_dropdown_container {
    position: absolute;
    border: 1px solid #ccc;
    background: white;
    width: 100%;
    margin-top: 2px;
    z-index: 100;
    padding: 5px;
}

.overall_sales {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
}

.total_sales {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    border: 1px solid rgb(188, 188, 188);
    border-radius: 10px;
    transition-duration: 200ms;
}

.total_sales:hover {
    background-color: rgb(235, 234, 234);
}

.total_amount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    border: 1px solid rgb(188, 188, 188);
    border-radius: 10px;
    transition-duration: 200ms;
}

.total_amount:hover {
    background-color: rgb(235, 234, 234);
}

.total_discount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    border: 1px solid rgb(188, 188, 188);
    border-radius: 10px;
    transition-duration: 200ms;
}

.total_discount:hover {
    background-color: rgb(235, 234, 234);
}

.all_transactions_details {
    width: 150%;
}

.transaction-header {
    height: 40px;
    font-size: 15px;
    color: rgb(91, 91, 91);
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.transaction{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}